<div class="col-sm-6">

    {{#each burgers}} {{#unless devoured}}

    <div class="row notDevoured">

        <div class="col-sm-4">
            <p>{{burger}}</p>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control customer" id = "customer{{id}}" placeholder="Enter your name to eat!">
            </div>
        </div>
        <div class="col-sm-2">
            <button class="btn-primary devourButton float-right" id={{id}}>Devour!</button>
        </div>

    </div>

    {{/unless}} {{/each}}

</div>

<div class="col-sm-6">

    {{#each burgers}} {{#if devoured}}

    <div class="row devoured">

        <div class="col-sm-6">
            <p>{{burger}}</p>
        </div>

        <div class="col-sm-6">
            <p>Eaten by {{customer}}</p>
        </div>

    </div>

    {{/if}} {{/each}}

</div>